.information {
    background-color:#F6F6F6;
  }
  .information__inner {
    padding-bottom: 107px;
  }
  .information__title {
    padding-top: 120px;
    margin-bottom: 20px;
    
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
  }
  .information__description {
    margin: 0 auto;
    margin-bottom: 54px;
  
    line-height: 22px;
    text-align: center;
    color: #070707;
  }