
.container {
    max-width: 945px;
      margin: 0 auto;
  }
  
  .navigation__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
    padding-top: 32px;
    padding-bottom: 42px;
  }
  .navigation__item {
    font-family: 'Gilroy-Bold';
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  
    color: #828282;
    transition: .1s linear;  
  }
  .navigation__item:hover {
    color: #000000;
    opacity: 0.9;
    transition: .3s linear; 
  }
  .active {
    color: #070707;
  }
  .active:hover {
    color: #828282;
    /* opacity: 0.9; */
    transition: .5s ease; 
  }
  